body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
  font-weight: 300;
}


h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 1;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-width: 6px;
  border-color: #bbbbbb;
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  margin: 80px auto;
}
p{
    line-height: 2;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: azure;
}

span {
  text-decoration: underline;
}


.topcloud {
  position: absolute;
  right: 300px;
  top: 40px;
}


.bottomcloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container {
  margin: 100px 0;
}

.pa {


}

.intro{
width: 30%;
margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;

}

.python {
  float: left;
  margin-right: 30px;
  width:17%;
  border-radius: 50%;

}

.writing {
  float: right;
  margin-left: 30px;
  width:18%;
  border-radius: 50%;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
  margin-top: 50px;
}

.contact-message{
  width:40%;
  margin:40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.85rem;
  padding:20px 0 10px;

}


a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin:10px 15px;
  text-decoration: none;
}

a:hover{
  color:#eaf6f6;
}


.myButton {
  background-color: #11cdd4;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;

}

.myButton:hover {
  background-color: #30e3cb;
}

.myButton:active {
  position: relative;
  top: 1px;
}
